<div class="row justify-content-md-center">
    <div class="card-wrapper col-12 col-md-4 mt-5">
        <div class="brand text-center mb-3">
            <a href="/"><img src=""></a>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Account recovery</h4>
                <form>

                    <div class="form-group">
                        <label for="name">Username</label>
                        <input type="text" class="form-control" id="fguser"  required="" autofocus="">
                    </div>
                    <div class="form-group">
                        <label for="name">Email</label>
                        <input type="email" class="form-control" id="fgemail"  required="" autofocus="">
                    </div>
                    
                    <div class="form-group">
                        <label for="">Laevitas API Token</label>
                        <input id="LaevitasApiToken" type="password" class="form-control" required="">
                    </div>

                    <div class="form-group">
                        <label for="">New Password</label>
                        <input id="newpassword" type="password" class="form-control"  required="">
                    </div>
                    

                    <div class="form-group no-margin">
                        <a class="btn btn-outline-primary btn-block">
                            Recover Password
                        </a>
                        
                    </div>
                    
                </form>
            </div>
        </div>