<aside id="sidebar" class="js-custom-scroll side-nav">
    <ul id="sideNav" class="side-nav-menu side-nav-menu-top-level mb-0">
        <!-- Title -->
        <li class="sidebar-heading h6">Dashboard</li>
        <!-- End Title -->

        <!-- Homepage -->
        <li class="side-nav-menu-item active">
            <a class="side-nav-menu-link media align-items-center" href="homepage">
                <span class="side-nav-menu-icon d-flex mr-3">
                    <i class="gd-home"></i>
                </span>
                <span class="side-nav-fadeout-on-closed media-body">HomePage</span>
            </a>
        </li>
        <!-- End Homepage -->

        <!-- Dashboard -->
        <li class="side-nav-menu-item">
            <a class="side-nav-menu-link media align-items-center" href="dashboard">
                <span class="side-nav-menu-icon d-flex mr-3">
                    <i class="gd-dashboard"></i>
                </span>
                <span class="side-nav-fadeout-on-closed media-body">Dashboard</span>
            </a>
        </li>
        <!-- End Dashboard -->

        <!-- Title -->
        <li class="sidebar-heading h6">Else</li>
        <!-- End Title -->


     
        <li class="side-nav-menu-item ">
            <a class="side-nav-menu-link media align-items-center" href="datafetch">
                <span class="side-nav-menu-icon d-flex mr-3">
                    <i class="gd-harddrives"></i>
                </span>
                <span class="side-nav-fadeout-on-closed media-body">Data Fetching</span>
            </a>
        </li>
        <li class="side-nav-menu-item ">
            <a class="side-nav-menu-link media align-items-center" href="">
                <span class="side-nav-menu-icon d-flex mr-3">
                    <i class="gd-signal"></i>
                </span>
                <span class="side-nav-fadeout-on-closed media-body">Trading signals inputs</span>
            </a>
        </li>
        <li class="side-nav-menu-item ">
            <a class="side-nav-menu-link media align-items-center" href="">
                <span class="side-nav-menu-icon d-flex mr-3">
                    <i class="gd-money"></i>
                </span>
                <span class="side-nav-fadeout-on-closed media-body">Bitfinex</span>
            </a>
        </li>
        <li class="side-nav-menu-item ">
            <a class="side-nav-menu-link media align-items-center" href="">
                <span class="side-nav-menu-icon d-flex mr-3">
                    <i class="gd-money"></i>
                </span>
                <span class="side-nav-fadeout-on-closed media-body">Deribit</span>
            </a>
        </li>
        <li class="side-nav-menu-item ">
            <a class="side-nav-menu-link media align-items-center" href="">
                <span class="side-nav-menu-icon d-flex mr-3">
                    <i class="gd-android"></i>
                </span>
                <span class="side-nav-fadeout-on-closed media-body">Bot view</span>
            </a>
        </li>

    </ul>
</aside>