<div class="row justify-content-md-center">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">DATA FETCHING</h4>
    
                    <div class="form-group">
                        <div class="form-group">
                            <select class="form-select form-select-lg mb-1  " style="margin-top: 20px;" aria-label="Small select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <button class="btn btn-outline-danger" style="margin: 15px 0px 15px;">
                            Submit Option to Fetch
                            </button>
                        </div>
                          
                        <div class="form-group">
                        <label>Select value for 'market':</label>
                        <select class="form-select form-select-lg mb-1  "  aria-label="Small select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>

                        <div class="form-group">
                            <label>Select value for 'currency':</label>
                            <select class="form-select form-select-lg mb-1  "  aria-label="Small select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>

                        <div class="form-group">
                            <label for="">Start</label>
                            <input id="" type="datetime-local"    class="form-control"   required="" autofocus="">
                        </div>

                        <div class="form-group">
                            <label for="">End</label>
                            <input id="" type="datetime-local"    class="form-control"   required="" autofocus="">
                        </div>

                        <div class="form-group">
                            <label>Select value for 'granularity':</label>
                            <select class="form-select form-select-lg mb-1  "  aria-label="Small select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>

                        <div class="form-group">
                            <label>Select value for 'legacy':</label>
                            <select class="form-select form-select-lg mb-1  "  aria-label="Small select example"disabled>
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                      </div>
                      
                        <div class="form-group">
                        <button class="btn btn-outline-danger" style="margin-right: 10px;"  >
                            Fetch Data
                        </button>
                        <div class="spinner-border text-danger" role="status"style="margin-top:25px;visibility: hidden;">
                        </div>  
            </div>
        </div>
    </div>
