<div class="row justify-content-md-center">
    <div class="card-wrapper col-12 col-md-4 mt-5">
        <div class="brand text-center mb-3">
            <a href="/"><img src=""></a>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create new account</h4>
                <form>

                    <div class="form-group">
                        <label for="name">Username</label>
                        <input type="text" class="form-control" id="signuser" required="" autofocus="">
                    </div>

                    <div class="form-group">
                        <label for="email">Password</label>
                        <input id="signpass" type="password" class="form-control" required="">
                    </div>
                    <div class="form-group">
                        <label for="email">API Token</label>
                        <input id="APIToken" type="password" class="form-control" required="">
                    </div>


                    <div class="form-group no-margin">
                        <a class="btn btn-outline-primary btn-block"href="" >
                            Sign Up
                        </a>

                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>